@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../storage/framework/views/livewire/views/*.php';
@source '../js/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-mono:  'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --animate-shake: shake 0.35s ease-in-out;

    @keyframes shake {
        0%, 100% { transform: translateX(0); }
        25% { transform: translateX(-10px); }
        50% { transform: translateX(10px); }
        75% { transform: translateX(-10px); }
    }
}

@utility input {
    @apply antialiased text-sm text-white placeholder-zinc-600 bg-zinc-950/50 border border-zinc-800/80 rounded-xl transition-all duration-200 ease-out;
}
@utility focus-input {
    @apply border-indigo-500 outline-none ring-1 ring-indigo-500;
}
@utility error-input {
    @apply outline-none border-rose-500/80 ring-1 ring-rose-500/80;
}
@utility error-text {
    @apply font-medium text-xs text-rose-400;
}

.filter-button {

    @apply cursor-pointer;

    &.group {

        @apply flex items-center gap-2 rounded-lg border hover:border-indigo-500 hover:ring-1 hover:ring-indigo-500 bg-zinc-900/40 px-3 py-1 transition-all duration-200
                hover:bg-zinc-800 hover:shadow-indigo-500/50 hover:shadow-md border-zinc-500;


        &:has(input:checked) {
            @apply bg-indigo-600 hover:bg-indigo-600 hover:shadow-indigo-600/50 hover:shadow-md **:text-white
                    hover:border-zinc-300 hover:ring-zinc-300;
        }
    }




    .color {
        @apply h-2 w-2 rounded-full bg-red-500 border border-white;
    }

    .text {
        @apply text-[0.8rem] font-medium text-zinc-300 group-hover:text-white;
    }

}

.show-all-button {
    @apply select-none shrink-0 cursor-pointer text-sm;
    @apply text-red-500 transition-colors hover:text-red-400;
}

html{
    @apply scrollbar-thumb-zinc-700 scrollbar-track-transparent antialiased;
}


@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-dashed: var(--color-zinc-800);
    --color-solid: var(--color-zinc-600);
    --color-hub: var(--color-white);
    --color-text: var(--color-white);
    --color-num: var(--color-rose-600);
    --color-today-marker: var(--color-rose-700);
    --color-stroke-dot: var(--color-white)
}
#wheel-svg {

    circle {

        &.dashed {
            @apply fill-none stroke-2 stroke-dashed;
            stroke-dasharray: 2 5;
        }

        &.solid {
            @apply fill-none stroke-2 stroke-solid;
        }

        &.hub {
            @apply fill-none stroke-2 stroke-hub;
            stroke-dasharray: 4 4;
        }

        &.dot {
            @apply cursor-pointer transition-all duration-100 stroke-[1.5] stroke-stroke-dot;

            &:hover {
                r: 7px;
            }
        }

    }

    line {
        &.spoke {
            @apply stroke-dashed stroke-2;
            stroke-dasharray: 2 5;
        }

        &.today-marker {
            @apply stroke-2 stroke-today-marker;
            stroke-dasharray: 3 3;
        }
    }

    text {
        &.month {
            @apply font-mono text-xs tracking-wider fill-text cursor-auto select-none pointer-events-none stroke-0!;
            text-anchor: middle;
            dominant-baseline: middle;
            stroke-dasharray: none !important;
        }

        &.label1, &.label2 {
            @apply font-mono font-medium text-xl tracking-wider fill-text cursor-auto select-none pointer-events-none stroke-0!;
            text-anchor: middle;
            dominant-baseline: middle;
            stroke-dasharray: none !important;

            &.label2{
                @apply text-4xl fill-num;
            }
        }
    }
}
